<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SLXMobile Full-Test Suite" verbose="3" parallel="false">
    <test name="All Tests" preserve-order="true">
        <packages>
            <package name="argos.saleslogix.selenium.test" />
        </packages>
    </test>
</suite>