<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SLXMobile Full-Test Suite" verbose="3" parallel="false">
    <test name="Chrome Tests" preserve-order="true">
        <parameter name="browser" value="chrome"></parameter>
        <packages>
            <package name="argos.saleslogix.selenium.test" />
        </packages>
    </test>
    <!--
    <test name="FireFox Tests" preserve-order="true">
          <parameter name="browser" value="firefox"></parameter>
        <packages>
            <package name="argos.saleslogix.selenium.test" />
        </packages>
    </test>


    <test name="IE Tests" preserve-order="true">
        <parameter name="browser" value="internetExplorer"></parameter>
        <packages>
            <package name="argos.saleslogix.selenium.test" />
        </packages>
    </test>
    -->
</suite>