<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SLX8Mobile2x Full-Test Suite" verbose="3" parallel="classes">

        <test name="Unit Tests">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="argos.saleslogix.selenium.test.UnitTestX"/>
    </classes>
  </test> <!-- Default test -->
    
        <test name="Defect Fix Test - Firefox 17">
  <parameter name="browser" value="FF"></parameter>
    <classes>
      <class name="argos.saleslogix.selenium.test.MobileDefectTests"/>
    </classes>
  </test> <!-- Default test -->

    <test name="SpeedSearch Tests - Firefox 17">
  <parameter name="browser" value="FF"></parameter>
    <classes>
      <class name="argos.saleslogix.selenium.test.SpeedSearchTests"/>
    </classes>
  </test> <!-- Default test -->
  
    <test name="Functional Test - Firefox 17">
  <parameter name="browser" value="FF"></parameter>
    <classes>
      <class name="argos.saleslogix.selenium.test.AttachmentTests"/>
    </classes>
  </test> <!-- Default test -->
  
    <test name="Global Menu Navigation Test - Firefox 17">
  <parameter name="browser" value="FF"></parameter>
    <classes>
      <class name="argos.saleslogix.selenium.test.GlobalMenuNavigationTests"/>
    </classes>
  </test> <!-- Default test -->
    
</suite>