<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Defect Fix Test Suite" verbose="3" parallel="classes">
  
    <test name="Defect Fix Test - Firefox 17">
  <parameter name="browser" value="FF"></parameter>
    <classes>
      <class name="defectFixTests.MobileDefectTests"/>
    </classes>
  </test> <!-- Default test -->
    
</suite>